@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

@keyframes animar-titulo {
    0% {
        opacity: 0; /* Começa invisível */
        transform: translateY(-20px); /* Desloca para cima */
    }
    100% {
        opacity: 1; /* Termina visível */
        transform: translateY(0); /* Retorna à posição original */
    }
}

.letras {
    animation: animar-titulo 2s ease; /* Aplica a animação */
}


/*SCROLL BAR*/

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px; 
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}


/*HEADER*/
header{
    z-index: 1;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.699);
    backdrop-filter: blur(10px);
}

header .interface{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 3px 100px;
}

header h1{
    text-shadow: 3px 3px 4px rgb(129, 129, 129);
    font-weight: 600;
    font-size: 35px;
}

header .interface #navegacao{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

header .interface #navegacao .lista{
    list-style-type: none;
}

header .interface #navegacao .lista .lista-item{
    display: inline-block;
    font-size: 22px;
    text-shadow: 2px 2px 2px rgb(129, 129, 129);
    padding: 0 44px;
    transition: .3s;
    cursor: pointer;
}

header .interface #navegacao .lista .lista-item a {
    text-decoration: none;
    color: black;
}

header .interface #navegacao .lista .lista-item:hover{
    transform: scale(1.2);
}

/*MAIN - section( home )*/

main #home{
    margin: 140px 120px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

main #home img{
    width: 450px;
}

main #home #textos{
    width: 550px;
    text-align: justify;
    font-size: 20px;
}

main #home #textos h1 {
    font-weight: 400;
}

main #home #textos h1 #nome{
    font-weight: bold;
}

main #home #textos button{
    padding: 15px;
    margin-top: 30px;
    box-shadow: 5px 5px 10px rgb(129, 129, 129);
    border-radius: 30px;
    border: none;
    color: white;
    background-color: rgb(8, 4, 3);
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
}

main #home #textos button:hover{
    transform: scale(1.2);
}

/*MAIN - SOBRE*/

section#sobre{
    margin-top: 50px;
    padding: 50px;
    background-color: black;
    color: white;
}

section#sobre .sobre-mim-lista li {
    font-size: 30px; 
    margin: 25px 25px; 
}

section#sobre .sobre-mim-lista li span#titulos{
    font-weight: bolder;
    text-shadow: 3px 3px 5px gray;
}

section#sobre div.text-and-image img{
    width: 400px;
    
    border-radius: 30px;
}

section#sobre h1{
    font-weight: 300;
    font-size: 50px;
    text-shadow: 6px 5px 5px gray;
}

section#sobre h1 #mim {
    font-weight: bold;
}

div.text-and-image{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

/*MAIN - COMPETÊNCIAS*/

#competencias{
    padding: 50px;
}

#competencias h1{
    text-align: center;
    font-size: 50px;
}

#competencias #ferramentas{
    display: flex;
    flex-flow: row wrap;
    gap: 100px;
    
    padding: 0 100px;
}

#competencias #ferramentas img{
    width: 100px;
    transition: .2s;
}

#competencias #ferramentas img:hover{
    transform: scale(1.3);
}

.itens-comp{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    font-size: 30px;
}

#javascript{
    padding-top: 10px;
}

/*MAIN - PROJETOS*/

#projetos h1{
    text-align: center;
    font-size: 50px;
    padding: 22px 0;
}

#projetos .meus-projetos .lista-de-projetos .projeto a img{
  width: 300px;
  border-radius: 20px;
}

#projetos .meus-projetos .lista-de-projetos .projeto a{
    text-decoration: none;
    color: black;
}

#projetos .meus-projetos .lista-de-projetos .projeto.swiper-slide{
    user-select: none;
    text-align: justify;
    padding: 20px;
    border-radius: 20px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    transition: .2s;
    width: 300px; /* Definindo largura para cada slide */
} 
#projetos .meus-projetos .lista-de-projetos .projeto.swiper-slide:hover{
    background-color: rgb(228, 228, 228);
    border: none;
}

#projetos .meus-projetos .lista-de-projetos li{
    margin: 0 60px;
}

.material-symbols-outlined{
    border: none;
    background: none;
    transform: rotate(-40deg);
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
}
#projetos .meus-projetos .lista-de-projetos .projeto a p{
    font-size: 15px;
    padding: 20px 0;
}
